* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	
	font-family: sans-serif;
	font-size: 100%;
	
	display: flex;
	flex-direction: column;
	
}

	header {
		width: 100%;
		height: 10%;
		
		overflow: hidden;
		
		display: block;
		
		position: fixed;
		top: 0;
		
		transition: height 2s;
		
		background-color: #FFFF41;
		
		z-index: 100;
	}	
		header .top {
			width: 100%;
			
			text-align: center;
		}
		header #main_cv {
			width: 80%;
			height: 0;
			
			display: none;
			
			opacity: 0;
			
			transition: opacity 5s, height 2s;
		}
		header #main_title {
			opacity: 0;
			
			display: block;
			
			transition: opacity 2s;
		}`
		
		header:hover {
			height: 60% !important;
		}
		header:hover #main_cv {
			height: 500px;
			display: inline;
			opacity: 1;
		}
		header:hover #main_title {
			opacity: 1;
		}
		
	.level_container {
		width: 100%;
		height: 98%;
		
		margin-top: 0%;
		
		max-width: 100%;
		max-height: 100%;
		
		
		display: inline-flex;
		
		flex-direction: row;
		
		transition: height 2s;
	}
	#main_body {
		position: fixed;
		left: 5%;	
	}
		nav {
			width: 5%;
			height: 98%;
			
			background-color: #FF0018;
			
			position: fixed;
			top: 1%;
			bottom: 1%;
			left: 0;
			
			transition: width 0.5s;
			
			font-size: 120%;
			
			z-index: 10;
		}
			nav:hover {
			}
			nav ul {
				height: 100%;
				list-style-type: none;
			}
			nav li {
				width: 100%;
				height: 25% !important;
				
				
				transition: width 1s;
			}
			nav ul li p {
				padding: 50% 0;
			}
			nav li:hover {
				border-right: 5px solid #008018;
				
			}
			#additional {
				padding: 0;
			}
			#additional_nav {
				background-color: #FFA52C;
				left: 5%;
				
				z-index: 5;
				
			}
			#additional_nav li {
			/*	height: 33.4% !important; */
				
				
			}
			
			
		#main_content {
			flex-direction: row;
		}
		article {
			width: 95%;
			height: auto;
			
			display: inline-flex;
			flex-direction: column;
			
		}
			section {
				width: 100%;
				height: 100%;
				
				min-height: 98%;
				display: flex;
				flex-direction: column;
				
				overflow-x: hidden;
				overflow-y: scroll;
				
				text-align: center;
				
				padding: 2.5%;
				
				transition: opacity 4s;
			}
				section article {
					height: 100%;
					
					overflow-x: hidden;
					overflow-y: hidden;
				
					flex-direction: row;
				}
				#additional {
					overflow: hidden;
				}
				#additional_body {
					position: fixed;
					right: 0;
					
					width: 90%;
					height:100%;
				}
				section div {
					width: 100%;
				}
				section p {
					width: auto;
					height: auto;
					
					padding: 0.5% 20%;
				}
				section img {
						max-width: 80%;
				}
				section embed {
				}
				section iframe {
					
				}
				#game {
					padding: 5% 0 2.5% 2.5%;
					
					overflow: hidden;
					
				}
				#game_work {
					
				}
				#game canvas {
					
					border: 1px solid black;
				}
				#video iframe {
					width: 50%;
					
					margin: 0 25%;
				}
				#graphic {
					display: flex;
					flex-direction: column;
				}
					#graphic div {
						display: flex;
						flex-direction: row;
					}
					#graphic img {
						padding: 2.5%;
					}
					#additional_work_xd img:first-of-type {
						
					}
			

	/* FOOTER */
	footer {
		width: 100%;
		height: 1%;
		
		position: fixed;
		bottom: 0;
		
		background-color: #FFFF41;
		
		z-index: 100;
		
		transition: height 1s;
		
	}
	footer:hover {
		height: 20%;
	}
	footer:hover + #main_body {
		height: 28% !important;
		opacity: 0;
		color: red;
		background-color: green;
		display: none;
	}

/* GLOBALS */
a {
	width: auto;
	height: auto;
	
	
	color: grey;
	
	text-decoration: none;
	
}
.logo {
	width: 20%;
}

.hide {
	display: none;
}

.rotate li p {
	transform-origin: bottom-right;
	
	
	
	transform: rotate(90deg);

  /* Safari */
	-webkit-transform: rotate(90deg);

  /* Firefox */
	-moz-transform: rotate(90deg);

  /* IE */
	-ms-transform: rotate(90deg);
	
  /* Opera */
	-o-transform: rotate(90deg);

  /* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}







@media only screen and (max-width: 1500px) {
	header {
		
	}
	
	
}










